<html>
  <head>
    <title>About: CherimoyaBnB</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body class="dashboard">
    <img style="width: 800px; height: 700px; margin-top: 10px; margin-left: 120px; opacity: 70%; z-index: 3;" src="/images/cherimoya.png">
    <nav class="nav">
      <p>About</p>
    </nav>
    <div style="padding-top: 45px;">
      <a href="/"><span class="link_full"></span></a>
<p style="font-size: 18px; font-family: 'Trebuchet MS'; margin-top: -35px;">
CherimoyaBnB was brought to you by Antonio, Boris, Chinelo and Nick, the MVPs of the Cherimoya group! :)<br><br>
Makers July '22 Apprentices
</p>
</div>
</body>
</html>