<html>
  <head>
    <title>Create Listing: CherimoyaBnB</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
  </head>

  <body class="dashboard">
    <div class="nav">
        <a class="dashboardNav" href="/dashboard"><p>Dashboard</p></a>
        <p style="color: green;">Listings</p>
        <a class="bookingNav" href="/makebooking?space_id=1"><p>My Bookings</p></a>
        <a class="requestNav" href="/requests"><p>Requests</p></a>
        <a class="signupNav" href="/logout"><p>Log out</p></a>
    </div>
    <hr>
    <div class="logo">
      <!-- <img class=“logo” src='/images/cherimoya.png'> -->
      <a href="/about"><img style="width: 80px;" src='/images/cherimoya.png'></a>
    </div><br><br><br>
    <div class="left" style="padding-top: 11px;">
    <h1>Create a new listing</h1>
    <div class="container">
    <form action="/createlisting" method="POST"><br>
      <label>Name of property:</label><br>
      <input style="width: 513px;" type="text" name="name" pattern="[A-Za-z]+" maxlength="30" autocomplete='off' require><br><br>

      <label>Description of the property:</label><br>
      <textarea rows="30" cols="60" type="text" name="name" pattern="[A-Za-z0-9\ .,-:!']+" maxlength="100" autocomplete='off' require>
      </textarea><br><br>
      <label>Price per night: </label><br>
      <input style="width: 513px;" type="number" name="price_per_night" pattern="^[1-9][0-9]?$" maxlength="8" autocomplete='off' placeholder='£0' require><br><br>

      <input type="hidden" name="owner_id" value=<%=@user.id%>><br>

      <input type="submit" value="Create your listing!">
    </form>
    </div>
    <h4><a href="/dashboard">Back</a></h4>
    </div>
    <div class="right">
      <img style="height: 100%; padding-left: -100px; margin-top: -20px; margin-left: -700px; opacity: 20%;" src='/images/example-house.jpeg'>
      <!-- <p style="text-align: center;">Present your space as attractively as positive so that potential hirers will be interested!</p> -->
    </div>
  </body>

</html>