<html>
  <head></head>
  <body>
    <h1>Welcome, <%= @user_name %>!</h1>
    <h1>Dashboard</h1>
    <p><a href="/logout">Log out</a> | <a href="/requests">Requests</a> | <a href="/listings">Listings</a> </p>

      <p>Available:
      </p>
      <div>Filter:<form action="/dashboard" method="POST">
  Available from:<input type="text" name="available_from">
          Available to:<input type="text" name="available_to">
    Maximum price per night:<input type="text" name="max_price">

  <input type="submit" value="Filter">
</form></div>
      <p> </p>
    <%@spaces.map do |space|%>
      <div><%=space.name%>
          <p>Price per night:<%=space.price_per_night%></p>
          <a href="/makebooking">Book</a></div>
    <%end%>

  </body>
</html>