<html>
  <head></head>
  <body>
    <h1>Login</h1>
    <p style="color:red;"><%=@check_login%></p>
    <form action="/login" method="POST">
      <p>Email</p>
        <input type="text" name="email" required/>
      <p>Password</p>
  <input type="text" name="password" required/>
      <p> </p>
      <input type="submit" value="Log in">
    </form>
    <p><a href="/signup">Sign-up</a>
  </body>
</html>