<html>
  <head>
    <meta http-equiv="refresh" content="1.5;url=/dashboard" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body class="dashboard">
    <h1>Login Success!</h1>

    <h4>Redirecting to dashboard...</h4>
  </body>
</html>