<html>
  <head>
    <title>Welcome to CherimoyaBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style>
    .nav{
        display: flex;
        justify-content: space-evenly;
        margin: 50px 50px;
        text-align: center;
    } 

    body{
        font-family: sans-serif;
        font-size: 22px;
        background-color: f1f1f1;
    }

    a{
        text-decoration: none!important;
        color: black;
      
    }

    a:hover{
        transition: ease-in-out;
        color: green;
    }
    </style>
  </head>

  <body>
    <nav class="nav">
      <a class="dashboardNav" href="/dashboard">Dashboard</a>
      <a class="listingNav" href="/createlisting">Listings</a>
      <a class="requestNav" href="/requests">Requests</a>
      <a class="signupNav" href="/logout">Log out</a>
  </nav>
  <hr>
    <h1>Submit a new booking request for <%=@space.name%></h1>
    <form action="/make-request" method="POST"><br>
      <label>Date from</label>
      <input type='text' name='date_from'><br>
      <label>Date to</label>
      <input type='text' name='date_to'><br>
      <input type='hidden' name='space_id' value=<%=@space.id%>>
      <input type='submit' value='Submit booking request'>
    </form>

    <%if @request_sent%>
      <h1>Thank you for your booking request, the property owner will accept or reject your request ASAP.</h1><br>
      <a href='/dashboard'>Return to the dashboard</a>
    <%end%>
  </body>

</html>