<html>
  <head>
    <title>Welcome to CherimoyaBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <h1>Submit a new booking request</h1>
    <form action="/createlisting" method="POST"><br>

    </form>
  </body>

</html>