<html>
  <head>
    <meta http-equiv="refresh" content="1.5;url=/login" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body class="dashboard">
    <h1>Account successfully created!</h1>

    <h4>Redirecting to log-in page...</h4>
  </body>
</html>