/* Style credential input fields */
input.credentials {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #5fd2ae;
  color: white;
}

.signup-header-img {
  width: 100%;
  height: 80px;
  object-fit: scale-down;
  background: url('/images/cherimoya.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 0% 50%;
}

.login-header-img {
  width: 100%;
  height: 80px;
  object-fit: scale-down;
  background: url('/images/login-logo2.png');
  background-repeat: no-repeat;
  background-size: 135.75px;
  background-position: -1.75% 50%;
}

img.dashboard {
  width: 80px;
  height: 80px;
}

body.credentials {
  background-color: #f1f1f1;
  /* padding: 50px; */
  padding-top: 2%;
}

body.dashboard {
  background-color: #f1f1f1;
}

h1 {
  font-family:'Trebuchet MS', 'sans-serif';
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
}

/* Style the container for date/max price filter */
.filter {
  /* background-color: #f1f1f1; */
  border: 1px solid rgb(174, 174, 174);
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: -10px;
  width: 1000px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #5fd2ae;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  /* font-family: 'Arial'; */
  font-size: 14.25px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  /* left: -35px; */
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  /* left: -35px; */
  left: -35px;
  content: "✖";
}